body {
    background-color: blueviolet;
    color: yellow;
    font-family: Oxygen, sans-serif;
}


.container, .generated-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



button {
    width: 7rem;
    border: 2px solid darkred;
    border-radius: 60px;
    padding: 10px;
    cursor: pointer;
    background-color: red;
    color: yellow;
    font-weight: bold;
}